*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #414141; 
    color: aliceblue
}
h1{
    justify-content: center;
    font: 1em sans-serif;
    
}

a#link{
    text-decoration: none;
    color:aqua;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;   /* XYBC x,y-axis,b-blur,c-color*/
}

#image{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

#canvas,img1{
    display: none;
}
